{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss"
  ],
  "$schema": "http://json.schemastore.org/stylelintrc",
  "rules": {
    "no-empty-source": null
  }
}
